In [1]:
import pandas as pd
import numpy as np

In [2]:
df =  pd.read_csv('C:/Users/songy/Desktop/Data/sentiment_data/wireless_detail_type.csv',encoding='utf-8-sig', index_col=0)
df2 =  pd.read_csv('C:/Users/songy/Desktop/Data/sentiment_data/travel_adaptor_detail_type.csv',encoding='utf-8-sig', index_col=0)
df3 = pd.read_csv('C:/Users/songy/Desktop/Data/sentiment_data/maskpack_detail_type.csv',encoding='utf-8-sig')
df4 = pd.read_csv('C:/Users/songy/Desktop/Data/sentiment_data/leggings_detail_type.csv',encoding='utf-8-sig', index_col=0)
df4.head(3)

,Unnamed: 0.1,Unnamed: 0,brand_name,product_name,write_dt_lst,rating_lst,content_lst,kss_split_text,len,repeated_final,review_type,detail_review_type
0,0,0,SABU,여성 4부 5부 짧은 레깅스 바이커 쇼츠 하이웨스트 운동 스포츠,20240808,5,저렴하고 괜찮네요 운동할 때 잘 입고 있어요,저렴하고 괜찮네요,24,0,일반,service
1,0,0,SABU,여성 4부 5부 짧은 레깅스 바이커 쇼츠 하이웨스트 운동 스포츠,20240808,5,저렴하고 괜찮네요 운동할 때 잘 입고 있어요,운동할 때 잘 입고 있어요,24,0,단순,service
2,1,1,SABU,여성 4부 5부 짧은 레깅스 바이커 쇼츠 하이웨스트 운동 스포츠,20240807,5,편안하게 잘 입을게요,편안하게 잘 입을게요,11,0,단순,product

In [25]:
df3['Unnamed: 0'].nunique()

24144

In [26]:
len(df3)

45153

In [27]:
round((df3['Unnamed: 0'].nunique() / len(df3))*100,2)

53.47

In [14]:
df4.head(3)

,Unnamed: 0.1,Unnamed: 0,brand_name,product_name,write_dt_lst,rating_lst,content_lst,kss_split_text,len,repeated_final,review_type,detail_review_type
0,0,0,SABU,여성 4부 5부 짧은 레깅스 바이커 쇼츠 하이웨스트 운동 스포츠,20240808,5,저렴하고 괜찮네요 운동할 때 잘 입고 있어요,저렴하고 괜찮네요,24,0,일반,service
1,0,0,SABU,여성 4부 5부 짧은 레깅스 바이커 쇼츠 하이웨스트 운동 스포츠,20240808,5,저렴하고 괜찮네요 운동할 때 잘 입고 있어요,운동할 때 잘 입고 있어요,24,0,단순,service
2,1,1,SABU,여성 4부 5부 짧은 레깅스 바이커 쇼츠 하이웨스트 운동 스포츠,20240807,5,편안하게 잘 입을게요,편안하게 잘 입을게요,11,0,단순,product

In [15]:
round((df4['rating_lst'].value_counts(normalize=True))*100,2).to_frame().reset_index()

   rating_lst  proportion
0           5       79.65
1           4       13.66
2           3        5.23
3           2        0.75
4           1        0.71